#logo{
  width: 100px;
  display: inline-block;
}

#cabecalho{
  display: flex;
  align-items: center;
}

#divBusca{
  margin:auto;
  position: relative;
  
}

#txtBusca{
  background-color: #ffffff; /* Cor de fundo do formulário */
  border-radius: 25px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 5px 20px; /* Espaçamento interno */
  flex-grow: 1;
  width: 500px;
}

#acordeao{
  display:flex;
  justify-content: center;
}

#btnBusca{
  border: none;
  padding: 10px 20px;
  border-radius: 25px; /* Cantos arredondados para o botão */
  background-color: #007BFF; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor em forma de mão */
  transition: background-color 0.3s ease; /* Transição suave */
}

#menu-h{
    list-style-type: none;
    padding: 0;
    background-color: rgb(102, 102, 102);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    list-style-type: none;
}

#menu-h li{
    display: flex;
    flex-direction: row;
}

#menu-h li a{
    color: #FFF;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    display: inline;

}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  #botoes{
    display: flex;
    justify-content: space-around;
    background-color: rgb(28, 127, 241);
  }

  .btn{
    margin: 10px, 0px;
    width: 100%;
    border: 1px solid #1b1b1b; /* borda sólida de 1px de espessura, cor azul */  
  }

  #corpos{
    display: block;
  }

#botaoNews{
  width: 150px;
  height: 60px;
}

.d-block{
  max-height: 600px;
  object-fit: cover
}

.clinica{
  margin-top: 50px;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(147, 153, 238);
  border-radius: 15px;
}

.clinicaIMG{
  width: 50%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 15px;

}

.clinicaP{
  color: #ffffff;
  font-size:20px;
  text-align: center; /* Centraliza o texto */
  text-align: justify; /* Justifica o texto */
  font-weight: bold; /* Negrito */
  margin: 20px;
}

.corpoBase {
  margin-top: 3rem !important;
  max-width: 80%;
  margin: auto;
}

#enviar{
  max-width: 30%;
  width: 50vw;
  min-width: 40px;

  height: 6vw;
  max-height: 100px;

  font-size: 2vw;

  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  border-radius: 15px;
}
/* CORPO 3 */
.corpo3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 10px;
}

.corpoBlock {
  width: 48%;
  margin: 10px 0;
  text-align: center;
}

.block {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  text-decoration: none;
  display:flex
}

.block img {
  width: 100%;
  height: 300px; /* Define uma altura fixa para todas as imagens */
  object-fit: cover; /* Assegura que as imagens mantenham sua proporção */
  display: block;
  border-radius: 15px;
  transition: transform 0.3s ease;

}

.block .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.block:hover img {
  transform: scale(1.1);
}

.block:hover .text {
  transform: translateY(0);
}

.subtitulo {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-decoration: underline;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.subtitulo:hover {
  color: #007BFF;
  border-color: #007BFF;
}

/* Formulário */
form {
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.form-group {
  flex: 1;
  min-width: 45%; /* Garante que os elementos ocupem aproximadamente metade da linha */
  margin: 10px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

.mapa {
  margin-top: 20px;
  text-align: center;
}

.mapa iframe {
  width: 500px;
  height: 500px;
  border: 0;
  border-radius: 15px;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #f8f9fa;
  padding-top: 40px;
  text-align: center;
}

.footer .newsletter {
  margin-bottom: 30px;
}

.footer .newsletter h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.footer .newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .newsletter form .form-group {
  margin-bottom: 0;
}

.footer .opinion {
  padding: 20px;
}

.footer .opinion h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer .opinion p {
  font-size: 16px;
}

.footer .social-icons a img {
  width: 40px;
}

/* Links Úteis e Redes Sociais */
.footer .links-row {
  background-color: #333;
  color: #fff;
  padding: 20px 40px;
  font-size: clamp(1vw, 2vw, 200px);
}

.footer .links {
  text-align: left;
}

.footer .links h4 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer .links ul {
  list-style: none;
  padding: 0;
}

.footer .links ul li {
  margin-bottom: 10px;
}

.footer .links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .links ul li a:hover {
  text-decoration: underline;
}

.footer .social-icons {
  text-align: right;
}

.footer .social-icons h4 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer .social-icons a {
  margin: 0 10px;
}

.footer .social-icons a img {
  width: 6%;
}

.footContainer{
  
}





@media (max-width: 1200px) {
    .corpoBlock {
        width: 100%;
        margin: 10px 0;
    }

    #menu-h {
      list-style-type: none;
      padding: 0;
      background-color: rgb(102, 102, 102);
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
      list-style-type: none;
      align-items: center;
  }

    .form-container {
        flex-direction: column;
    }
    #txtBusca {
      height: 4vh;
      width: 50vw;
    }

    .form-group {
        width: 100%;
    }

    .footer .links, .footer .social-icons {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .newsletter form {
        flex-direction: column;
    }

    .footer .newsletter form .form-group {
        width: 100%;
    }

    .footer .opinion {
        width: 100%;
    }

    #menu-h li a {
      font-size: 30px;
    }

    .footer .newsletter form .btn-block {
        width: 100%;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      flex-direction: column;
      align-content: center;
    }

    .footer .links h4 {
      margin-bottom: 15px;
      font-size: 40px;
  } 

  .footer .links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
  }

  .footer .opinion h3 {
    font-size: 40px;
  }

  .footer .opinion p {
    font-size: 40px;
  }
}


@media (min-width: 1200px) {
  .opinion{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  #menu-h {
    font-size: 1vw;
  }

  #txtBusca {
    width: 50vw;
    height: 3vw;
    font-size: 1vw;
    margin: 20px 0px;
  }

  #btnBusca {
    height: 3vw;
    font-size: 1vw;
    margin: 20px 0px;
    width: 6vw;
  }

  #logo {
    width: 6vw;
  }
}


@media (min-width: 2000px) {
    .footer .newsletter h2 {
        font-size: 32px;
    }

    .footer .opinion h3 {
        font-size: 24px;
    }

    .footer .opinion p {
        font-size: 18px;
    }

    .footer .links h4, .footer .social-icons h4 {
        font-size: 24px;
    }

    
}